{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
      <div class="profile-pic" style="text-align: center;">
        <img class="rounded-circle account-img mx-auto" style="border: 5px solid #C0C0C0;" src="{{ user.profile.image.url }}">
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ object.user.username }}</h2>
          <p class="text-secondary">{{ object.user.email }}</p>
        </div>
               <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile info</legend>
                {{ u_form|crispy}}
                {{ p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}