{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<a href="http://www.google.com" class="material-icons floating-btn">add</a>
<div class="card" style="margin: 2rem 0; width:60%; ">
	<div style="display:flex;">
	<img class="rounded-circle article-img align-baseline" src="{{ post.author.profile.image.url }}">
	<div>
	<a href="#"><h6 class="align-top" >{{ post.author.username }}</a></h6><span><small>{{ post.date_of_release }}</small></span>
	</div>
	</div>
	<div class="card-body">
		<p >{{ post.body }}</p>
	</div>
	<div>
	<img class="rounded mx-auto" style="width:100%; height:20rem;" src="{{ post.post_image.url }}">
	</div>
	<div style="display:flex;">
		<div style="margin-left: 5rem;"><button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="liked" value="{{ post.pk }}"><i class="far fa-heart" style="background-color: white;"></i></button>{% if post.like_count == 0 %}
			<span id="NumLike"> </span> {% else %}	<span id="NumLike">{{ post.like_count }}</span>{% endif %}</div>
		<div style="margin-left: 10rem;"><i class="far fa-comment"></i><span>{{ NumComment }}</span></div>
	</div>

  </div>

		{%  for comment in  comments  %}

 <div style="display:flex;">
	<div style="width: 20%;">
	<img class="rounded-circle article-img align-baseline" src="{{ comment.by.profile.image.url }}">
	</div>

	<div style="width: 80%;" >
    <div class="card" style="width:18rem;">
	<div style="margin-left: 2rem;">
		<h6>{{ comment.by.username }}</h6>
	</div>
	<div class="card-body">
		<p>{{ comment.body }}</p>

	</div>
	</div>
    <span><small>.{{ comment.date_created }}</small></span>

	</div>
	
</div>
 </article>
        {% endfor %}
	
		<div class="content-section">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">write a comment</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Post</button>
				</div>
			</form>
		</div>
{% endblock content %}